*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}
a{
    text-decoration: none;
}
/* NAVBAR CSS */
#nav-container{
    background-color: #37474f;
    height: 100px;
}

#navbar ul{  
    list-style: none;
    display: flex;
    gap: 1rem;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

#navbar h1{
    color: #cfcfcf;
    letter-spacing: 3px;
}

#navbar a{
    color: #cfcfcf;
    font-size: 20px;
    font-weight: 800;
    transition: .8s;
}

#navbar a:hover{
    color: #910ee9;
    text-decoration: underline;
}

/* TITLES CSS */

#title-container .title{
    width: fit-content;
    padding-top: 1rem;
    margin: 0 auto;
}



/* carousel css */

.carousel {
  margin: 0 auto;
  width: 80%; /* Ajuste conforme necessário */
  height: 600px;
  position: relative;
  padding-top: 4rem;
}
  
.slides {
  height: 500px;
  display: flex;
  overflow: hidden; /* Oculta qualquer conteúdo que exceda as dimensões do contêiner */
  
  
}

.slide {
  display: flex;
  flex-direction: row;
  flex: 0 0 100%; /* Cada slide ocupará 100% da largura do contêiner */
  position: relative;
  overflow: hidden; /* Oculta as partes excedentes dos slides */
  transition: 1s;
}

.slide img {
  width: calc(100% / 3); /* Cada imagem ocupará 1/3 da largura do slide */
  margin-right: 10px; /* Adiciona um espaçamento de 10 pixels à direita de cada imagem */

}
.slides input{
  display: none;
}
  
  /* radio buttons manual navigation styles */
  .manual-navigation{
    position: absolute;
    width: 100%;
    margin-top: -30px;
    display: flex;
    justify-content: center;
  }

  .manual-btn{
    border: 2px solid white;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    
  }

  .manual-btn:not(:last-child){
    margin-right: 40px;
  }

  .manual-btn:hover{
    background-color: #fafafa;
  }
/* Ajuste para as posições dos slides */
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
margin-left: -100%;
}
#radio3:checked ~ .first {
margin-left: -200%;
}
